/*
Description: Simple Theme 
Author: Emanuele Sorce
Author URI: https://github.com/tronfortytwo
*/

h1 {
    font-size: 6.6vmin;
}
h2 {
	font-size: 4.95vmin;
}
h3 {
	font-size: 3.861vmin;
}
h4 {
	font-size: 3.3vmin;
}
h5 {
	font-size: 2.706vmin;
}
h6 {
	font-size: 2.211vmin;
}

p {
	font-size: 3.3vmin;
}

b {
	margin-right: 0vmin;
	margin-left: 0vmin;
}

a {
	margin-right: 0vmin;
	margin-left: 0vmin;
}

font {
	margin-right: 0vmin;
	margin-left: 0vmin;
}

input {
    width: 80vmin;
	height: 7.5vmin;
	font-size: 3.861vmin;
}
